header {
  .navbar {
    &__container {
      background-color: $bg-color3;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2rem;
      // position: fixed;
      // top: 0;
      // width: 100%;
      // z-index: 2;

      &--center {
        font-size: 3rem;
      }

      &--right {
        a {
          padding: 0 1rem;
        }

      }
    }
  }
}
