.main {
  &__container {
    margin: 10rem auto;
    width: 80vw;

    &-actions {
      padding-bottom: 5rem;

      &--now-playing {
        display: flex;
        justify-content: center;
        align-items: center;

        @include respond(tablet) {
          flex-direction: column;
        }
      }
    }
  }
}