.button {
  &--inTheaters {
    position: relative;
    border: none;
    background-color: $primary;
    color: $white-text;
    font-size: 2.4rem;
    padding: 1rem 4rem;
    letter-spacing: .1rem;
    transition: all .4s ease;
    border-radius: .3rem;
    cursor: pointer;

    &:hover {
      background-color: darken($primary, 10%);
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba($bg-color2,.2);

      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }

    &::after {
      content: "";
      background-color: $primary;
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: .3rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .4s;
    }
  }

  &--scroll-top {
    position: fixed;
    right: 5vw;
    top: 90%;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    border: none;
    background-color: $primary;
    cursor: pointer;
    animation: moveUpDown 1s infinite linear;

    @include respond (tablet) {
      width: 4rem;
      height: 4rem;
    }

    .fa-chevron-up {
      &:before {
        color: $white-text;
      }
    }
  }
}

