.form {
  &__group {
    position: relative;
    padding: 1.5rem 0 0;
    margin-top: 1rem;
    width: 50%;
  }

  &__field {
    width: 100%;
    border: 0;
    border-bottom: 2px solid $white-text;
    outline: 0;
    font-size: 2rem;
    color: $white-text;
    padding: .7rem 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {color: transparent; }

    &:placeholder-shown ~ .form__label {
      font-size: 2rem;
      cursor: text;
      top: 2rem;
    }

    &:focus {
      padding-bottom: .6rem;  
      font-weight: 700;
      border-width: .3rem;
      border-image: linear-gradient(to right, $primary,$bg-color2);
      border-image-slice: 1;

      ~ .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1.3rem;
        color: $primary;
        font-weight:700;  
      }
    }
  }

  &__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    color: $white-text;
  }
}