.movie {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 47rem;
  color: $white-text;
  font-size: $default-font;
  width: 25rem;
  margin: 1rem;
  box-shadow: 0 1.5rem 4rem rgba($bg-color4, .45);
  transition: all .4s ease;

  &__side {
    height: 47rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: .3rem;
    overflow: hidden;

    &--back {
      transform: rotateY(180deg);
      background-color: $primary;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &:hover &__side--front { transform: rotateY(-180deg); }

  &:hover &__side--back { transform: rotateY(0); }

  &__image { transition: all .4s ease; }

  &__details {
    text-align: center;
    position: relative;

    &--title {
      color: $primary;
      font-size: 2.4rem;
      font-weight: 300;
      text-align: center;
    }

    &--info {
      display: flex;
      justify-content: space-evenly;
    }

    &--desc {
      color: $white-text2;
      padding: 1rem 1rem 3rem;
      font-size: 1.4rem;
      width: 25rem;
    }
  }
}