.movie {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 47rem;
  color: $white-text;
  font-size: 1.5rem;
  width: 25rem;
  margin: 1rem;
  box-shadow: 0 1.5rem 4rem rgba($bg-color4, .45);
  transition: all .4s ease;

  &__side {
    height: 47rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: .3rem;
    overflow: hidden;

    &--back {
      transform: rotateY(180deg);
      background: linear-gradient(to right bottom, $bg-color2, darken($primary, 10%));
      color: $white-text2;
    }
  }

  &:hover &__side--front { transform: rotateY(-180deg) scale(1.1); }

  &:hover &__side--back { transform: rotateY(0); }

  &__image { transition: all .4s ease; }

  &__details {
    text-align: center;
    position: relative;

    &--title {
      color: $primary;
      font-size: 2.4rem;
      font-weight: 300;
      text-align: center;
    }

    &--info {
      color: $white-text2;
      width: 70%;
      margin: 1rem auto;
    }

    &--desc {

      text-align: left;
      padding: 1rem 1.5rem 3rem;
      margin-top: 4rem;
      font-size: 1.6rem;
      width: 25rem;
      max-height: 30rem;
      overflow-y: scroll;
     
      @include scrollbar(darken($primary, 10%), $bg-color2);
    }
  }
}