.movie {
  color: $white-text;
  font-size: $default-font;
  background-color: $bg-color2;
  width: 25rem;
  border-radius: 10px;
  overflow: hidden;
  margin: 1rem;
  box-shadow: 0 1.5rem 4rem rgba($bg-color4, .45);
  transition: all .4s ease;

  &:hover {
    transform: translateY(-1rem);
    transform: scale(1.1);

    .movie__image { transform: scale(1.1); }

    .movie__details--more { visibility: visible; }

    .movie__details--more { animation: animatedArrow 1s 3 linear; }
  }

  &__image { transition: all .4s ease; }

  &__details {
    text-align: center;
    position: relative;

    &--title { color: $primary; }

    &--info {
      display: flex;
      justify-content: space-evenly;
    }

    &--desc {
      color: $white-text2;
      padding: 1rem 1rem 3rem;
      font-size: 1.4rem;
      width: 25rem;
    }

    &--more {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      visibility: hidden;
      cursor: pointer;
      transition: all .4s ease;

      i {
        height: 3.5rem;
        width: 3.5rem;
        line-height: 3.5rem;
        border-radius: 50%;
        background-color: $primary;
        color: $white-text;
      }
    }
  }
}