.popup {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($bg-color2, .8);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;

  @supports (-webkit-backdrop-filter: blur(1rem)) or (backdrop-filter: blur(1rem)) {
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    background-color: rgba($bg-color2, .3);
  }

  &__content {
    max-height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 70rem;
    background-color: $bg-color1;
    color: $white-text;
    box-shadow: 0 2rem 4rem rgba($bg-color2, .2);
    border-radius: .3rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(.25);
    transition: all .4s;

    &-bottom { padding: 1rem 2rem; }

    &-reviews {
      &-container {
        max-height: 13rem;
        overflow-y: scroll;
        padding: 1rem 2rem;
        font-size: 1.3rem;

        &::-webkit-scrollbar { width: .5rem; }
      
        &::-webkit-scrollbar-track {
          background: $bg-color2;
          border-radius: 3px;
        }
        
        &::-webkit-scrollbar-thumb { background: $primary; }
      }

      &-item { padding: 1rem; }
    }

    &-similar {
      padding-top: 1.5rem;

      &-container { display: flex; }
      
      &-item {
        width: 25%;
        overflow: hidden;
        font-size: 1.4rem;

        img {
          transition: all .4s ease;

          &:hover { transform: scale(1.1); } 
        }
      }
    }
  }
}