@mixin scrollbar($bg, $color) {
  &::-webkit-scrollbar { width: .5rem; }
      
  &::-webkit-scrollbar-track {
    background: $bg;
    border-radius: 3px;
  }
  
  &::-webkit-scrollbar-thumb { background: $color; }
}

// Media Query Manager
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
      @media only screen and (max-width: 576px) { @content };
  }
  @if $breakpoint == tablet {
      @media only screen and (max-width: 768px) { @content };
  }
  @if $breakpoint == tablet-land {
      @media only screen and (max-width: 1200px) { @content };
  }
  @if $breakpoint == big-desktop {
      @media only screen and (min-width: 1901px) { @content };
  }
}