// Colors
$primary:    #bb86fc;
$bg-color1:  #121212;
$bg-color2:  #242424;
$bg-color3:  #2c2c2c;
$bg-color4:  #333333;
$white-text: #f7f7f7;
$white-text2:#ffffffb3;

// Font Sizes
$default-font: 1.6rem;